<% div_for comment, :class => 'part padding' do %>
  <p>
    <table width='100%'>
      <tr>        
        <% if comment.author %>
          <td width='50px'>
            <% if comment.author.avatar.file?  %>
              <%= image_tag comment.author.avatar.url(:tiny) %> 
            <% end %>
          </td>
          <td width='120'>
            <div class='account_info_name'>
              <%= link_to_unless_current comment.author.name, account_index_url(comment.author.login) %>
            </div>
            <%= time_ago_in_words comment.created_at %>
          </td>        
        <% else %>
          <td width='180px'>
            <%= render :partial => 'comments/anonymous', :locals => { :comment => comment } %>
          </td>
        <% end %>        
        <td>
          <div class='comment_body'>
            <%= simple_format comment.body %>
            
            <% if logged_in? and current_account_content?(comment) || current_account_content?(comment.commentable) %>
              <div class='right'>
                <%= link_to_remote 'Delete', :url => [comment.commentable, comment], :confirm => 'Are you sure?', :method => :delete %>
              </div>
            <% end %>
          </div>            
        </td>
      </tr>
    </table>
  </p>
<% end %>
