<div class='new_comment part padding clear'>
  <% remote_form_for [commentable, Comment.new] do |f| %>
    <% unless logged_in? %>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name, :class => 'input' %>
      </p>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email, :class => 'email_input input' %>
      </p>
      <p>
        <%= f.label :url%><br />
        <%= f.text_field :url, :class => 'input' %>
      </p>
    <% end %>
    <p>
      <%= f.text_area :body, :class => 'comment_input input' %>
    </p>
    <p><%= f.submit "Comment!", :class => 'button bg_color' %></p>
  <% end %>
</div>
