<% form_for @thing, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'input' %>
  </p>
  <% if thing.photo.file? %>
    <p>
      <%= image_tag thing.photo.url(:small) %>
    </p>
  <% end %>
  <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo, :class => 'input' %>
  </p>
  <p>
    <%= f.label :attachment %><br />
    <%= f.file_field :attachment, :class => 'input' %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => 'input' %>
  </p>
  <p>
    <%= f.submit 'Save', :class => 'button green_bg' %>
  </p>
<% end %>
