<% javascript :fckeditor %>

<div class='part padding'>
  <% form_for @thing, :html => { :multipart => true } do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name, :class => 'input' %>
    </p>
    <% if thing.new_record? and current_account.twitter_active %>
      <p>
        <span class='tweet_icon'></span><%= label_tag :twitter, 'Publish on Twitter' %>
        <%= check_box_tag :twitter, 't', true %>
      </p>
    <% end %>
    <p>
      <span class='private_icon'></span><%= f.label :blog_private %>
      <%= f.check_box :blog_private %>
    </p>
    <% if thing.photo.file? %>
      <p>
        <%= image_tag thing.photo.url(:small) %>
      </p>
    <% end %>
    <p>
      <%= f.label :photo %><br />
      <%= f.file_field :photo, :class => 'input' %>
    </p>
    <p>
      <span class='paperclip_icon'></span><%= f.label :attachment %><br />
      <%= f.file_field :attachment, :class => 'input' %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= fckeditor_textarea(:thing, :description, :toolbarSet => 'Mine', :width => '100%', :height => '300px') %>
    </p>
    <p>
      <span class='tag_icon'></span><%= f.label :tag_list %><br />
      <%= f.text_field :tag_list, :class => 'input' %>
    </p>
    <p>
      <%= f.submit 'Save', :class => 'button green_bg', :disable_with => 'Saving...' %>
    </p>
  <% end %>
</div>
