<h1>Listing things</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @things.each do |thing| %>
  <tr>
    <td><%=h thing.name %></td>
    <td><%=h thing.description %></td>
    <td><%= link_to 'Show', thing %></td>
    <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
    <td><%= link_to 'Destroy', thing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New thing', new_thing_path %>