<%= title 'Things' %>

<% if @account  %>
  <% render :layout => @account do %>
    <div class='part padding margin_bottom'>
      <h1 class='thing_title'>Things</h1>
      
      <% if logged_in? and current_account == @account %>
        <%= link_to 'New thing', new_thing_path, :class => 'thing_create' %>
      <% end %>
    </div>
      
    <div class='part padding text_center'>
      <% tag_cloud @account.things.tag_counts, %w(cloud_1 cloud_2 cloud_3 cloud_4) do |tag, css_class| %>
        <%= link_to tag.name, tag, :class => css_class %>
      <% end %>
    </div>

    <%= filter_menu account_things_path(@account, :show => 'account'), account_things_path(@account, :show => 'all'), account_things_path(@account, :show => 'network') %>

    <%= render :partial => @things %>

    <div class='part padding text_center'>
      <%= will_paginate @things %>
    </div>
  <% end %>
<% else %>
  <div class='part padding margin_bottom'>
    <h1 class='thing_title'>Things</h1>
    
    <% if logged_in?  %>
      <%= link_to 'New thing', new_thing_path, :class => 'thing_create' %>
    <% end %>
  </div>
  
  <div class='part padding text_center margin_bottom'>
    <% tag_cloud Thing.tag_counts, %w(cloud_1 cloud_2 cloud_3 cloud_4) do |tag, css_class| %>
      <%= link_to tag.name, tag, :class => css_class %>
    <% end %>
  </div>

  <%= render :partial => @things %>

  <div class='part padding margin_top text_center'>
    <%= will_paginate @things %>
  </div>
<% end %>
