<h1>Editing Photo</h1>

<% form_for(@gallery_photo) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= image_tag @gallery_photo.url :small %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :cover %> <%= f.check_box :cover %>
  </p>
  <p>
    <%= f.label :caption %><br />
    <%= f.text_area :caption %>
  </p>
  <p>
    <%= f.submit 'Update', :class => 'button green_bg' %>
  </p>
<% end %>

<%= link_to 'Show', @gallery_photo %> |
<%= link_to 'Back', gallery_photos_path %>
