<% title @gallery_photo.gallery.name %>

<% div_for @gallery_photo do %>
  <div class='part top_pagination margin_bottom'>
    <div class='text_center'><%= will_paginate @gallery_photos %></div>
  </div>


  <div class='content part'>    
    <h2>
      <%= h @gallery_photo.name %>
    </h2>
    <p class='text_center'>
      <%= link_to image_tag(@gallery_photo.url(:default)), @gallery_photo.url %>
    </p>
    <p>
      <%=h @gallery_photo.caption %>
    </p>
  </div>
    
  <% render :layout => 'layouts/content_info', :locals => { :content => @gallery_photo } do %>
    <% if user_content?(@gallery_photo) or user_content?(@gallery_photo.gallery)%>
      <%= link_to '', edit_gallery_photo_path(@gallery_photo), :class => 'gallery_photo_edit', :title => 'edit' %>
      <%= link_to '', @gallery_photo, :confirm => 'Are you sure?', :method => :delete, :class => 'gallery_photo_destroy', :title => 'delete' %>
    <% end %>
  <% end %>
    
  <div class='back part margin_top'>
    <%= link_to "Back to #{@gallery_photo.gallery.name}", @gallery_photo.gallery %>
  </div>
    
    <div class='clear'></div>  
<% end %>

<%= render :partial => 'comments/comments', :locals => { :commentable => @gallery_photo } %>
