<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<% unless logged_in? %>
  <div id='home_logo' class='part padding margin_bottom clear'>    
    <div class='left'><%= image_tag 'logo.png' %></div>
    
    <div>
      <h2>
        Spread your content socially!
      </h2>
      <p>The social network for people with content ...</p>
      <h3>Featuring</h3>
      <ul>
        <li>Post your ideas</li>
        <li>Share your pictures</li>
        <li>Show your artworks</li>
        <li>Chat with your friends</li>
        <li>Keep track of your friends contents</li>
      </ul>
    </div>    
    
    <div class='clear'></div>
  </div>
<% end %>

<div class='part padding text_center margin_bottom'>
  <% tag_cloud Notification.tag_counts, %w(cloud_1 cloud_2 cloud_3 cloud_4) do |tag, css_class| %>
    <%= link_to tag.name, tag, :class => css_class %>
  <% end %>
</div>

<div id='home_content' class='left'>
  <%= render @notifications %>
</div>

<div id='home_tweets' class='right'>
  <%= render @tweets %>
</div>

<div class='part padding text_center clear'>
  <%= will_paginate @notifications %> 
</div>
