<%- user = status.user.blank? ? status.sender : status.user -%>
<div id="status_<%= status.id %>" class="part status">
  <table width='100%' class='tweet'>
    <tr>      
      <td class='text_right' style='width:120px'>
        <p class="who_when">
          <%= link_to h(user.screen_name), twitter_blog_path(user.screen_name) %><br />
          <span class='when'><%= pretty_datetime Time.parse(status.created_at) %></span>
        </p>
        <p class="actions">
          <%= link_to image_tag('twitter/chat.gif'), show_tweet_path(:id => status.in_reply_to_status_id), :class => 'icon' unless status.in_reply_to_status_id.blank? %>
          
          <%- if status.favorited -%>
            <%= link_to image_tag('twitter/star_on.gif'), twitter_unfav_path(:id => status.id), :class => 'icon', :method => :post %>
          <%- else -%>
            <%= link_to image_tag('twitter/star.gif'), twitter_fav_path(:id => status.id), :class => 'icon', :method => :post %>
          <%- end -%>
          
          <%= link_to image_tag('twitter/mail.gif'), '#', :class => 'dm icon', :rel => h(user.screen_name), :title => "Direct Message #{h user.screen_name}" %>
          <%= link_to image_tag('twitter/comment.gif'), '#', :class => 'reply icon', :rel => h("#{user.screen_name}:#{status.id}"), :title => "Reply to #{h user.screen_name}" %>
        </p>
      </td>
      <td style='width:50px' class='vertical_top'>
        <%= link_to image_tag(user.profile_image_url), twitter_blog_path(user.screen_name), :class => 'profile_image' %>
      </td>
      <td class='vertical_top'>
        <div class="text">
          <%= linkup_mentions(auto_link(status.text)) %>
        </div>
      </td>
    </tr>
  </table>
</div>
