<% div_for scrap, :class => 'part padding margin_bottom' do %>

  <p>
    <table>
      <tr>
        <td>
          <% if scrap.account.avatar.file?  %>
            <%= link_to_unless_current image_tag(scrap.account.avatar.url(:tiny)), account_index_url(scrap.account.login) %>
          <% end %>
        </td>
        <td width='20%'>
          <div class='account_info_name'>
            <%= link_to_unless_current scrap.account.name, account_index_url(scrap.account.login) %>
          </div>
          <span class='time_ago'><%= time_ago_in_words scrap.created_at %></span>
        </td>
        <td width='100%'>
          <%= simple_format scrap.body %>
          <% if current_account == scrap.author or current_account == scrap.recipient %>
            <div class='right'>
              <% if current_account == scrap.recipient %>
                <% if scrap.new? %>
                  <font color='red'>new</font> |
                <% end %>
                <%= link_to 'Reply', account_scraps_path(scrap.author), :class => 'scrap_reply' %> |
              <% end %>
              <%= link_to_remote 'Delete', :url => [scrap.recipient, scrap], :confirm => 'Are you sure?', :method => :delete, :html => { :class => 'scrap_destroy' } %>
            </div>
          <% end %>
        </td>
      </tr>
    </table>
  </p>
<% end %>
