<% div_for post do %>
  <div class='post_head'>
    <h2><%= link_to_unless_current h(post.title), post %></h2>
    <% if post.photo.file? %>
      <div class='post_photo'>
        <%= link_to image_tag(post.photo.url :small), post.photo.url(:original) %>
      </div>
    <% end %>
  </div>
  
  <div class='post_content'>
    <%= format post.body %>
    <% unless current_page? post  %>
      <div class='right'>
        <%= link_to 'See more >>', post %>
      </div>
    <% end %>
  </div>  
  
  <table width='100%'>
    <tr>
      <td>
        <% if post.account.avatar.file?  %>
          <%= image_tag post.account.avatar.url(:tiny) %> 
        <% end %>
      </td>
      <td width='25%'>
        <div class='account_info_name'>
          <%= link_to_unless_current post.account.name, account_index_url(post.account.login) %>
        </div>
        <%= time_ago_in_words post.created_at %>
      </td>
      
      <td width='50%'>
        <div class='text_center'>
          <%= share_this post.title, post_url(post) %>
          <%= link_to_unless_current pluralize(post.comments.count, 'comment'), post %> from <%= link_to_unless_current pluralize(post.commentators.count, 'person'), post %>
        </div>
      </td>
      
      <td width='25%'>
        <% if current_account_content? post %>
          <div class='manager_links text_right'>            
            <%= link_to 'Edit', edit_post_path(post) %> |
            <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>
          </div>
        <% end %>
      </td>
    </tr>
  </table>  
  

<% end %>
