<% div_for post do %>
  <div class='post_head'>
    <h2><%= link_to_unless_current h(post.title), post %></h2>
    <% if post.photo.file? %>
      <div class='post_photo'>
        <%= link_to image_tag(post.photo.url :small), post.photo.url(:original) %>
      </div>
    <% end %>
  </div>
  <div class='post_content'>
    <%= format post.body %>
  </div>
  <% if current_account_content? post %>
    <div class='manager_links right'>
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  <% end %>  
  <%= render :partial => 'accounts/account_content', :object => post %>
  <div class='clear_left'>
    <%= share_this post.title, post_url(post) %>
    <%= link_to_unless_current pluralize(post.comments.size, 'comment'), post %> from <%= link_to_unless_current pluralize(post.commentators_size, 'person'), post %>
  </div>
<% end %>
