<% div_for post do %>
  <div class='post_head'>
    <h2><%= link_to_unless_current h(post.title), post %></h2>
    <% unless post.photo.nil? %>
      <div class='post_photo'>
        <%= image_tag(post.photo.url :small) %>
      </div>
    <% end %>
  </div>
  <div class='post_content'>
    <%= simple_format h(post.body) %>
  </div>
  <% if current_account_content? post %>
    <div class='post_manager_links'>
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>
      <%=# link_to_remote 'Delete', :url => post_path(post), :confirm => 'Are you sure?', :method => :delete
      %>
    </div>
  <% end %>
  <%= render :partial => 'accounts/account_content', :object => post %>
  <%= link_to_unless_current pluralize(post.comments.size, 'comment'), post %> from   <%= link_to_unless_current pluralize(post.commentator.size, 'commentator'), post %>
  <br />
  <br />
<% end %>
