<% div_for post do %>
  <div class='content part'>
    <div class='content_icon left'><span class='post_icon'></span></div>
    <% if post.tweeted? %>
      <div class='content_icon left'><span class='tweet_icon'></span></div>
    <% end %>
    <% if post.blog_private %>
      <div class='content_icon left'><span class='private_icon'></span></div>
    <% end %>

    <h2><%= link_to_unless_current h(post.title), post %></h2>
    
    <div class='post_head clear_left'>
      <% if post.photo.file? %>
        <div class='post_photo left'>
          <%= link_to image_tag(post.photo.url(:small)), current_page?(post) ? post.photo.url : post %>
        </div>
      <% end %>
    </div>
    
    <div class='post_content'>
      <%= format post.body %>
    </div>
    
    <div class='clear_left'></div>
  </div>
  
  <% render :layout => 'layouts/content_info', :locals => { :content => post } do %>
    <% if user_content?(post) %>
      <%= link_to '', edit_post_path(post), :class => 'post_edit', :title => 'edit' %>
      <%= link_to '', post, :confirm => 'Are you sure?', :method => :delete, :class => 'post_destroy', :title => 'delete' %>
    <% end %>
  <% end %>
<% end %>
