<h1>Editing post</h1>

<% form_for @post, :html => { :multipart => true } do |f| %> 
  <%= f.error_messages %>
  <% unless @post.photo.nil? %>
  <p>
    <%= image_tag @post.photo.url(:small) %> 
  </p>
  <% end %>
  <p>    
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p> 
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
