<% javascript :fckeditor %>

<div class='part padding'>
  <% form_for gallery do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name, :class => 'input' %>
    </p>
    <% if gallery.new_record? and current_account.twitter_active %>
      <p>
        <%= label_tag :twitter, 'Publish on Twitter' %>
        <%= check_box_tag :twitter, 't', true %>
      </p>
    <% end %>
    <p>
      <%= f.label :blog_private %>
      <%= f.check_box :blog_private %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= fckeditor_textarea(:gallery, :description, :toolbarSet => 'Mine', :width => '100%', :height => '300px') %>
    </p>
    <p>
      <%= f.submit 'Save', :class => 'button green_bg' %>
    </p>
  <% end %>
</div>
