<% title 'Galleries' %>

<% if @account  %>
  <% render :layout => @account do %>
    <div class='part padding margin_bottom'>
      <h1 class='gallery_title'>Galleries</h1>
      
      <% if @account == current_account %>
        <%= link_to 'New gallery', new_gallery_path, :class => 'gallery_create' %>
      <% end %>
    </div>
    
    <div class='part padding text_center'>
      <% tag_cloud @account.galleries.tag_counts, %w(cloud_1 cloud_2 cloud_3 cloud_4) do |tag, css_class| %>
        <%= link_to tag.name, tag, :class => css_class %>
      <% end %>
    </div>
    
    <%= filter_menu account_galleries_path(@account, :show => 'account'), account_galleries_path(@account, :show => 'all'), account_galleries_path(@account, :show => 'network') %>
    
    <%= render @galleries %>
    
    <div class='part padding margin_top text_center'>
      <%= will_paginate @galleries %>
    </div>
  <% end %>
<% else %>
  <div class='part padding margin_bottom'>
    <h1 class='gallery_title'>Galleries</h1>
    
    <% if logged_in? %>
      <%= link_to 'New gallery', new_gallery_path, :class => 'gallery_create' %>
    <% end %>
  </div>
  
  <div class='part padding text_center margin_bottom'>
    <% tag_cloud Gallery.tag_counts, %w(cloud_1 cloud_2 cloud_3 cloud_4) do |tag, css_class| %>
      <%= link_to tag.name, tag, :class => css_class %>
    <% end %>
  </div>
    
  <%= render @galleries %>
  
  <div class='part padding margin_top text_center'>
    <%= will_paginate @galleries %>
  </div>
<% end %> 
