<% div_for @gallery, :class => 'part padding' do %>

  <h1>
    <%=h @gallery.name %>
  </h1>

  <p>
    <%=h @gallery.description %>
  </p>

  <% if logged_in? and @gallery.account == current_account %>
    <%= link_to 'Edit', edit_account_gallery_path(@gallery.account, @gallery), :class => 'edit' %> |
    <%= link_to 'Delete', [@gallery.account, @gallery], :confirm => 'Are you sure?', :method => :delete, :class => 'destroy' %> |
    <%= link_to 'Back', account_galleries_path(@gallery.account), :class => 'back' %>
    
    <div>
      <h3>
        Upload new photo
      </h3>
      <p>
        <% form_for (@gallery_photo or GalleryPhoto.new), :html => { :multipart => true } do |f| %>
          <%= f.error_messages %>
          <%= hidden_field_tag 'gallery_photo[gallery_id]', @gallery.id %>
          
          <%= f.file_field :photo %>
          <%= f.submit 'Upload', :class => 'button green_bg' %>
        <% end %>
      </p>
    </div>  
  <% end %>

  <div class='padding'>
    <ul id='gallery_photos' class='plain_list text_left'>
      <% for gallery_photo in @gallery.gallery_photos %>
        <% content_tag_for :li, gallery_photo do %>
          <%= link_to image_tag(gallery_photo.url(:small)), gallery_photo %>
        <% end %>
      <% end %>
    </ul>
    
    <%= sortable_element 'gallery_photos', :url => sort_gallery_photos_path %>
  </div>
<% end %>

<%= render :partial => 'comments/comments', :locals => { :commentable => @gallery } %>
