<div id="top_menu">
  <% if logged_in? && !current_account.avatar.url.nil?  %>
    <div class='avatar_tiny green_border rounded left'>
      <%= image_tag current_account.avatar.url(:tiny) %>
    </div>
  <% end %>
  <div class="menu_item left green_border rounded"><%= link_to_unless_current "Home", home_path %></div>
  <% if logged_in? %>
    <div class="menu_item left green_border rounded"><%= link_to_unless_current "Blog", account_index_path(current_account.login) %></div>
    <div class="menu_item left green_border rounded"><%= link_to_unless_current "Post", new_post_path %></div>
    <div class="menu_item left green_border rounded"><%= link_to_unless_current "Settings", edit_account_path(current_account) %></div>
    <div class="menu_item left green_border rounded"><%= link_to 'Logout', logout_path %></div>
  <% else %>
    <div class="menu_item left green_border rounded"><%= link_to_unless_current 'Login', login_path %></div>
    <div class="menu_item left green_border rounded"><%= link_to_unless_current 'Sign Up', signup_path %></div>
  <% end %>
</div>

<script type="text/javascript">
  Rounded('rounded', 10, 10);
</script>
