<div id="top_menu">  
  <% if logged_in? %>
    <% if current_account.avatar.file?  %>
      <div class='avatar_tiny text_center green_border rounded left'>
        <%= image_tag current_account.avatar.url(:tiny) %>
      </div>
    <% end %>
    <div class="menu_item left text_center green_border rounded"><%= link_to_unless_current "Home", home_path %></div>
    <div class="menu_item left text_center green_border rounded"><%= link_to_unless_current "Blog", account_index_path(current_account.login) %></div>
    <div class="menu_item left text_center green_border rounded"><%= link_to_unless_current "Post", new_post_path %></div>
    <div class="menu_item left text_center green_border rounded">
      <%= link_to_unless_current "Scraps", account_scraps_path(current_account) %>
      <% unless current_account.scraps.scoped_by_read(false).empty? %>
        <div class='scrap_count'>
          <%= current_account.scraps.scoped_by_read(false).count %>
        </div>
      <% end %>
    </div>
    <div class="menu_item left text_center green_border rounded"><%= link_to_unless_current "Things", things_path %></div>
    <div class="menu_item left text_center green_border rounded"><%= link_to_unless_current "Settings", edit_account_path(current_account) %></div>
    <div class="menu_item left text_center green_border rounded"><%= link_to 'Logout', logout_path %></div>
  <% else %>
    <div class="menu_item left text_center green_border rounded"><%= link_to_unless_current "Home", home_path %></div>
    <div class="menu_item left text_center green_border rounded"><%= link_to_unless_current "Things", things_path %></div>
    <div class="menu_item left text_center green_border rounded"><%= link_to_unless_current 'Login', login_path %></div>
    <div class="menu_item left text_center green_border rounded"><%= link_to_unless_current 'Sign Up', signup_path %></div>
  <% end %>
</div>

<script type="text/javascript">
  Rounded('rounded', 10, 10);
</script>
