<div id="top_menu">  
  <div class="menu_item left margin_right text_center green_bg">
    <p><%= link_to "Home", home_path %></p>
  </div>
  <% if logged_in? %>
    <% if current_account.avatar.file?  %>
      <div class='menu_item left green_bg'>
        <table class='menu_item'>
          <tr>
            <td class='text_center'>
              <%= link_to image_tag(current_account.avatar.url(:tiny)), account_index_path(current_account.login) %>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
    <div class="menu_item left text_center green_bg">
      <p><%= link_to "Blog", account_index_path(current_account.login) %></p>
    </div>
    <div class="menu_item left text_center green_bg">
      <p><%= link_to "Post", new_post_path %></p>
    </div>
    <div class="menu_item left text_center green_bg">
      <p>
        <%= link_to "Scraps", account_scraps_path(current_account) %>        
        <% unless current_account.scraps.scoped_by_read(false).empty? %>
          <br/><span class='scrap_count'><%= current_account.scraps.scoped_by_read(false).count %></span>
      <% end %>
      </p>      
    </div>
    <div class="menu_item left margin_left text_center green_bg">
      <p><%= link_to "Things", things_path %></p>
    </div>
    <div class="menu_item left margin_left text_center green_bg">
      <p><%= link_to "Settings", edit_account_path(current_account) %></p>
    </div>
    <div class="menu_item left margin_left text_center green_bg">
      <p><%= link_to 'Logout', logout_path %></p>
    </div>
  <% else %>    
    <div class="menu_item left text_center green_bg">
      <p><%= link_to "Things", things_path %></p>
    </div>
    <div class="menu_item left margin_left text_center green_bg">
      <p><%= link_to 'Login', login_path %></p>
    </div>
    <div class="menu_item left margin_left text_center green_bg">
      <p><%= link_to 'Sign Up', new_account_path %></p>
    </div>
  <% end %>
  <div class='menu_item right margin_left green_bg'>
    <table class='menu_item'>
      <tr>
        <td class='text_center'><%= link_to image_tag('logo_tiny.jpg'), about_path %></td>
      </tr>
    </table>
  </div>
</div>
