<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Bolongu! <%= yield :title %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag :defaults %>
    <%= share_this_javascript_include %>
    <%= javascript_include_tag 'rounded' %>
    <%= yield :head %>
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
  
    <div id="container">
  
      <div class='right'><%= link_to image_tag('logo_tiny.jpg'), about_path %></div>
  
      <%= render :partial => 'layouts/menu' %>
  
      <%= render :partial => 'layouts/notification_message' %>
  
      <div id="content" class="clear padding">
        <%= yield  %>
      </div>
  
    </div>
    
  </body>
  
</html>
