<div class='filter_menu'>
  <div class="filter_menu_item left padding <%= 'current_filter_menu_item' if current_page? account_index_path(@account.login, :show => 'account') %>">
    <%= link_to @account.login, account_index_path(@account.login, :show => 'account'), :class => 'filter_menu_account' %>
  </div>
   
  <div class="filter_menu_item left padding <%= 'current_filter_menu_item' if current_page? account_index_path(@account.login, :show => 'all') %>">
    <%= link_to 'all', account_index_path(@account.login, :show => 'all'), :class => 'filter_menu_all' %>
  </div>
   
  <div class="filter_menu_item left padding <%= 'current_filter_menu_item' if current_page? account_index_path(@account.login, :show => 'network') %>">
    <%= link_to 'network', account_index_path(@account.login, :show => 'network'), :class => 'filter_menu_network' %>
  </div>
  
  <div class='clear_left'></div>
</div>
