<div id='side_bar' class='right padding'>
  <h2><%= account.name %></h2>  
  <% if account.avatar.file? %>
    <p><%= image_tag account.avatar.url(:default) %></p>
  <% end %>
  <% unless !logged_in? || account == current_account %>
    <% if friend?(current_account, account) %>
      <p><%= link_to "Stop following #{account.name}", current_account.friendship(account), :confirm => 'Are you sure?', :method => :delete %></p>
    <% else %>
      <p><%= link_to "Follow #{account.name}", { :controller => 'friendships', :action => 'create', :friend_id => account.id }, :method => :post %></p>
    <% end %>
  <% end %>  
  <%= '<h3>Following</h3>' unless account.friends.empty? %>
  <ul class='plain_list'>
    <% for friend in account.friends %>
      <li><%= link_to image_tag(friend.avatar(:tiny)), account_index_path(friend.login), :title => friend.name %></li>
    <% end %>
  </ul>  
  <h3 class='left'>Things</h3>  
  <ul class='plain_list clear'>
    <% for thing in account.things %>
      <li><%= link_to image_tag(thing.photo(:tiny)), thing_path(thing), :title => thing.name %></li>
    <% end %>
  </ul>
  <div class='_menu_action'><%= link_to 'new thing', new_thing_path %></div>
</div>
