<div id='side_bar' class='right'>
  <div class='part padding margin_bottom'>
    
    <h2><%= account.name %></h2>
    
    <% if account.avatar.file? %>
      <p class='text_center'><%= image_tag account.avatar.url(:default) %></p>
    <% end %>  
    
    <p><%= account.bio %></p>

    <% unless !logged_in? || account == current_account %>
      <% if friend?(current_account, account) %>
        <p><%= link_to "Stop following #{account.name}", current_account.friendship(account), :confirm => 'Are you sure?', :method => :delete, :class => 'remove' %></p>
      <% else %>
        <p><%= link_to "Follow #{account.name}", { :controller => 'friendships', :action => 'create', :friend_id => account.id }, :method => :post, :class => 'add' %></p>
      <% end %>
    <% end %>
  </div>
  
  <% if account.twitter_active %>
    <div class='part padding margin_bottom'>  
      <h3><%= link_to 'Twitter', account_twitter_blog_path(account), :class => 'twitter_sidebar' %></h3>
    </div>
  <% end %>

  <div class='part padding margin_bottom'>  
    <h3><%= link_to 'Scraps', account_scraps_path(account), :class => 'scrap_sidebar' %></h3>
  </div>
  
  <% unless account.friends.empty? %>  
    <div class='part padding margin_bottom'>
      <h3 class='follow_sidebar margin_bottom'>Following</h3>
      <ul class='plain_list'>
        <% for friend in account.friends %>
          <li>
            <% if friend.avatar.file? %>
              <%= link_to image_tag(friend.avatar(:tiny)), account_index_path(friend.login), :title => friend.name %>
            <% else %>
              <%= link_to friend.name, account_index_path(friend.login), :title => friend.blog_title %>
            <% end %>
          </li>
        <% end %>
      </ul>    
    </div>
  <% end %>
    
  <div class='part padding margin_bottom'>
    <h3 class='margin_bottom'><%= link_to 'Things', account_things_path(account), :class => 'thing_sidebar' %></h3>  
    <ul class='plain_list'>
      <% for thing in account.things %>
        <% if thing.photo.file? %>
          <li><%= link_to image_tag(thing.photo(:tiny)), thing_path(thing), :title => thing.name %></li>
        <% else %>
          <li><%= link_to thing.name, thing_path(thing), :title => thing.name %></li>
        <% end %>
      <% end %>
    </ul>
    <% if account == current_account %>
      <div class='sidebar_action'><%= link_to 'new thing', new_thing_path, :class => 'thing_create' %></div>
    <% end %>
  </div>  
    
  <div class='part padding margin_bottom'>
    <h3 class='margin_bottom'><%= link_to 'Galleries', account_galleries_path(account), :class => 'gallery_sidebar' %></h3>
    <ul class='plain_list'>
      <% for gallery in account.galleries %>
        <li>
          <% if gallery.cover %>
            <%= link_to image_tag(gallery.cover.url(:micro)), gallery, :title => gallery.name %>
          <% else %>
            <%= link_to gallery.name, gallery, :title => gallery.name %>
          <% end %>
        </li>
      <% end %>
    </ul>  
    <% if account == current_account %>
      <div class='sidebar_action'><%= link_to 'new gallery', new_gallery_path, :class => 'gallery_create' %></div>
    <% end %>
  </div>
  
  <div class='part padding margin_bottom'>
    <h3 class='tag_sidebar margin_bottom'>Tags</h3>
    <% tag_cloud account.notifications.tag_counts, %w(cloud_1 cloud_2 cloud_3 cloud_4) do |tag, css_class| %>
      <%= link_to tag.name, tag, :class => css_class %>
    <% end %>
  </div>
</div>
