<div class='part padding margin_bottom'>
  <h1 class='user_edit_title'>Account Settings</h1>
</div>

<% @account.password = @account.password_confirmation = nil %>

<div class='part padding'>
  <%= error_messages_for :account %>
  <% form_for @account, :html => { :multipart => true } do |f| -%>

    <p><%= label_tag :name %><br/>
    <%= f.text_field :name, :class => 'input' %></p>
    
    <p><%= label_tag :bio %><br/>
    <%= f.text_field :bio, :class => 'input' %></p>

    <p>
      <% if current_account.avatar.file?  %>
        <%= image_tag current_account.avatar.url(:default) %>
      <% end %>
    </p>

    <p><%= label_tag :avatar %><br/>
    <%= f.file_field :avatar, :class => 'input' %>
    </p>

    <p><%= label_tag :blog_title %><br/>
    <%= f.text_field :blog_title, :class => 'input' %></p>

    <p><%= label_tag :login %><br/>
    <%= @account.login %></p>

    <p><%= label_tag :email %><br/>
    <%= @account.email %></p>

    <p><%= label_tag :password %><br/>
    <%= f.password_field :password, :class => 'input' %></p>

    <p><%= label_tag :password_confirmation, 'Confirm Password' %><br/>
    <%= f.password_field :password_confirmation, :class => 'input' %></p>

    <p><%= submit_tag 'Update', :class => 'button green_bg' %></p>
  <% end -%>
</div>
