<h1>Sign up as a new user</h1>

<% @account.password = @account.password_confirmation = nil %>

<% form_for @account, :url => accounts_path do |f| -%>
<%= error_messages_for :account %>

<p><%= label_tag 'name' %><br/>
<%= f.text_field :name %></p>

<p><%= label_tag 'blog title' %><br/>
<%= f.text_field :blog_title %></p>

<p><%= label_tag 'login' %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'password' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
