<div class='part padding'>
  <h1 class='user_edit_title'>Sign up as a new user</h1>
</div>

<div class='part padding margin_top'>
  <% @account.password = @account.password_confirmation = nil %>

  <% form_for @account, :url => accounts_path do |f| -%>
  <%= error_messages_for :account %>

  <p><%= label_tag 'name' %><br/>
  <%= f.text_field :name, :class => 'input' %></p>

  <p><%= label_tag 'blog title' %><br/>
  <%= f.text_field :blog_title, :class => 'input' %></p>

  <p><%= label_tag 'login' %><br/>
  <%= f.text_field :login, :class => 'input' %></p>

  <p><%= label_tag 'email' %><br/>
  <%= f.text_field :email, :class => 'email_input input' %></p>

  <p><%= label_tag 'password' %><br/>
  <%= f.password_field :password, :class => 'input' %></p>

  <p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
  <%= f.password_field :password_confirmation, :class => 'input' %></p>

  <p><%= submit_tag 'Sign up', :class => 'button bg_color', :disable_with => 'Signing up...' %></p>
  <% end -%>
  
</div>
